<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Add this to <head> -->

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <style>
        .questions_cards{
            @include media-breakpoint-only(lg) {
                column-count: 1;
            }
        }
    </style>
    <title>Vue</title>
</head>
<body>
    <header class="mb-3 container-fluid bg-dark">
        <div class="row">
            <div class="col-1"></div>
            <nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-center col-10">
                <a href="https://github.com/chuanhao01" target="_blank" class="d-flex w-25 mr-auto logo"><h2 class="logo text-white">Chuanhao01</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-center active" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" href="../React/index.html">React</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="col-1"></div>
        </div>
    </header>
    <main class="container-fluid">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row justify-content-center" id='app'>
                        <template v-if='template_to_show === "SelectName_1"'>
                            <p class="w-100 text-center d-block">-= Welcome to Quiz Application =-</p>
                            <form @submit.prevent='handleName'>
                                <label for="name_input mr-3">Please Enter your name to continue: </label>
                                <input type="text" v-model='name_input' class="mr-3">
                                <input type="submit" value="Submit" :disabled='check_name'>
                            </form>
                        </template>
                        <template v-if='template_to_show === "SelectTopic_2"'>
                            <p class="w-100 text-center d-block">Welcome {{name_input}}, please choose the quiz category you would like to attempt:</p>
                            <b-card-group deck>
                                <b-card 
                                v-for='(topic, index) in topics'
                                :title='topic' 
                                >
                                    <b-card-text>PlaceHolder description</b-card-text>
                                    <button @click='handleTopic(index)'>Choose Me!</button>
                                </b-card>
                            </b-card-group>
                        </template>
                        <template v-if='template_to_show === "Quiz_3"'>
                            <p class="w-100 text-center d-block">Topic Choosen: {{selected_topic}}</p>
                                <b-card-group columns class="questions_cards">
                                    <b-card 
                                    v-for='question in selected_questions'
                                    :title='question.question' 
                                    >
                                    </b-card>
                                </b-card-group>
                        </template>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </main>
        <!-- Loading in the data from js files -->
        <script src="data/Topic_1.js"></script>
        <script src="data/Topic_2.js"></script>
        <script src="data/Topic_3.js"></script>
        <!-- Loading in parsing utils -->
        <script src="utils/parse.js"></script>
        <!-- Main vue/app script -->
        <script>
            let app = new Vue({
                el: '#app',
                data: {
                    template_to_show: 'SelectName_1',
                    topics: topics,
                    questions: questions,
                    name_input: '',
                    selected_topic: '',
                    selected_questions: [],
                },
                computed: {
                    check_name(){
                        return this.name_input === '';
                    },
                },
                methods: {
                    handleName(){
                        this.template_to_show = 'SelectTopic_2';
                    },
                    handleTopic(topic_index){
                        this.selected_topic = this.topics[topic_index];
                        this.selected_questions = this.questions[topic_index];
                        this.template_to_show = 'Quiz_3';
                    }
                },
            });
        </script>
</body>
</html>